* {
    padding:0;
    margin: 0;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Crete Round', serif;
    font-family: 'Klee One', cursive;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Noto Serif JP', serif;
}
li {
    list-style: none;
}
a {
    Text-decoration:none;
    color: #444853
}
a :hover {
        color:#F70776;
        border-bottom:solid 1px;
}
.menu ul {
    display: flex ;
   position: fixed;
   top:15px;
   right:0;
   z-index: 999;
}
.menu ul li {
    margin-right: 80px;
    font-size: 30px;
}
.top-image {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-image: url(602270_コピーl.jpg);
    background-size: cover;
    
}
.title h1 {
    margin-top: 150px;
    text-align: center;
    font-size: 60px;
}
.Form-Item {
       font-size: 20px;
      text-align: left;
      margin-left: 30%;
      margin-top: 30px;
}
.Form-Item-Input  {
    width: 60%;
}
.Form-Item-Textarea {
    width: 60%;
    height: 100px;
}
.Form-submit {
    margin: 30px 0;
    text-align: center;
    padding-bottom:30px;
}
footer {
    height: 60px;
    background-image: url(602270_コピーl.jpg);
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
}
.copyright {
text-align: center;
    font-size: 18px;
    padding-top: 15px;
}







@media (max-width: 1000px) {
  
 .menu ul ,.top-image {
         display: none;
}
.content {
    margin: auto;
}
.Form-submit {
   text-align: center;

}
.title h1 {
    margin-top: 30px;
｝
    
    }
